<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="col display-1 text-warning">COACH SQUAD SURVEY</h1> 
    </div>
    <img src="./Assets\images\welcome.jpg" alt="Ali Goharbakhsh" width="1100" height="500">
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




