<% include ../partials/header.ejs %>

<% include ../partials/main_nav.ejs %>

<!-- Content for the Edit page -->
<div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-8">
            <h1><%= title %></h1>
            <form class="form" method="POST">

            <div class="form-group row">
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputQuestion" placeholder="Question" name="question" value="<%= question.question %>" required>
                        </div>
                        
                        <select class="custom-select col-sm-3 col-form-control" id="inputGroupSelect" name="type" required>
                            <option selected value="">Question type</option>
                            <% if(question.type == "Multiple") { %>
                                <option value="Multiple" selected>Multiple choice</option>
                                <option value="Agree/Disagree">Agree/Disagree</option>
                                <option value="Short">Short Awnser</option>
                            <% } else if(question.type == "Agree/Disagree") { %>
                                <option value="Multiple">Multiple choice</option>
                                <option value="Agree/Disagree"  selected>Agree/Disagree</option>
                                <option value="Short">Short Awnser</option>
                            <% } else if(question.type == "Short") { %>
                                <option value="Multiple">Multiple choice</option>
                                <option value="Agree/Disagree"  selected>Agree/Disagree</option>
                                <option value="Short" selected>Short Awnser</option>
                            <% } %>
                            
                        </select>
                    </div>

                    <div id="options">
                        <ul>
                            <li>
                                <input type="text" class="form-control"
                                id="first"
                                placeholder="First Option"
                                name="first">
                            </li>
                            <br>
                            <li>
                                <input type="text" class="form-control"
                                id="second"
                                placeholder="Second Option"
                                name="second">
                            </li>
                            <br>
                            <li>
                                <input type="text" class="form-control"
                                id="third"
                                placeholder="Third Option"
                                name="third">
                            </li>
                            <br>
                            <li>
                                <input type="text" class="form-control"
                                id="fourth"
                                placeholder="Fourth Option"
                                name="fourth">
                            </li>
                        </ul>
                    </div>

                    <div class="d-flex justify-content-center" id="addQuestion">
                        <button class="btn btn-success" id="addNewQuestion" type="submit">
                        <i class="fas fa-plus-square"></i> Save</button>
                    </div>

                    <div class="d-flex justify-content-center">
                    <a href="/survey-list/questions" class="btn btn-danger">
                        Cancel</a>
                    </div>
            </form>
        </div>
    </div>
</div>

<% include ../partials/bottom_nav.ejs %>

<% include ../partials/footer.ejs %>




 